html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    box-sizing: border-box;
    background-color: #33333325;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 392px;
    max-height: 852px;
    box-sizing: border-box;
    background-color: #f4f4f4;
    position: relative;
}

.global-header {
    padding-top: 4rem;
}

.global-header nav {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
}

.global-header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}



.mainGridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
}

.listsContainer {
    border-right: 1px solid #ddd;
    max-height: 628px;
    overflow: hidden;
}

.lists {
    padding: 0;
    margin: 0;
    list-style: none;
}

.listItem {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: .5rem .25rem;
    cursor: pointer;
}



.listItem img {
    width: 50px;
    height: auto;
    margin: auto 0 auto 0;
    cursor: pointer;
    object-fit: cover;
    padding: .5rem 0 .5rem .25rem;
}

.listItem h3 {
    color: #333;
    padding: 0 .25rem;
    font-size: 1.25rem;
    font-weight: 500;
    margin: auto 0;
    word-break: break-all;
    width: 152.5px;
}

.gridBorder {
    position: relative;
}

.listItem p {
    color: #d4d4d4;
    margin: auto .25rem auto auto;
    font-size: 1rem;
    font-weight: 400;
    transition: 200ms;
    position: absolute;
    right: .3rem;
    top: 30%;
}

#addList h3 {
    color: #d4d4d4;
}

.listItem:hover p {
    opacity: 0;
}

.listItem:hover img:last-of-type {
    opacity: 1;
}

#addList img {
    opacity: 1;
}

.listItem img:last-of-type {
    width: 20px;
    position: absolute;
    right: .2rem;
    margin-top: 2px;
    opacity: 0;
    transition: 200ms;
    cursor: pointer;
}

#chosenList {
    display: flex;
    border-bottom: 1px solid #ddd;
    word-break: break-all;
}

#chosenList img {
    margin: auto .5rem auto 1.3rem;
}

#chosenList p {
    color: #d4d4d4;
    margin: auto .5rem auto auto;
    font-size: 1.3rem;
    font-weight: 400;
}

#chosenList h2 {
    color: #333;
    font-size: 1.3rem;
    font-weight: 400;
}

.rightSide {
    max-width: 230px;
    width: 210px;
}


.checkmark {
    position: relative;
    width: 30px;
    height: 30px;
    /* margin-right: 1rem; */
}

.checkmark img {
    width: 100%;
    height: 100%;
}

.check {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.check img {
    width: 100%;
    height: 100%;
}



.check.visible {
    opacity: 1;
}

.task.clicked {
    opacity: .7;
}

.tasksContainer {
    margin: .25rem .5rem;
}

.task {
    position: relative;
    background-color: #fdfdfd;
    padding: .5rem .5rem;
    border-radius: 25px;
    box-shadow: 0 0 5px #00000038;
    margin-bottom: .5rem;
    display: flex;
}

.task h3 {
    margin: auto .3rem;
    max-width: 110px;
    word-break: break-all;
}

.taskText::first-letter {
    text-transform: capitalize;
}

.task:hover .delete {
    opacity: 1;
}

.delete {
    opacity: 0;
    transition: 200ms ease;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: .65rem .5rem .65rem 0;
}

.delete img {
    width: 100%;
}








.addTask {
    background-color: #E37937;
    position: absolute;
    right: 0;
    bottom: 148px;
    padding: 1.25rem .5rem 1.25rem 1.25rem;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    cursor: pointer;
}

.addTask img {
    width: 100%;
    scale: 1.2;
}

.listItem {
    position: relative;
    padding-left: .7rem;
}

.listItemOverlay {
    position: absolute;
    top: 0;
    left: -2rem;
    height: 100%;
    width: 2rem;
    transition: left 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
}

.listItemOverlay.visible {
    left: 0;
    opacity: 1;
}

.listItemOverlay img {
    height: 100%;
}

/* #region Transitions */
.listItemOverlay {
    position: absolute;
    top: 0;
    left: -2rem;
    height: 100%;
    width: 2rem;
    transition: left 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
}

.listItemOverlay.visible {
    left: 0;
    opacity: 1;
}

.listItemOverlay img {
    height: 80%;
}




/* #endregion Transitions */
